<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
</head>
<body>
<div th:replace="~{fragments/header}"></div>
<div>
    <table>
        <thead>
        <tr>
            <th>Recipe</th>
            <th>Description</th>
            <th>Ingredients</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe:${recipes}">
            <td><a href="#" th:href="@{'/showRecipe'(id=${recipe.getId()})}" th:text="${recipe.getTitle()}"></a></td>
            <td th:text="${recipe.getDescription()}"></td>
            <td th:text="${recipe.getIngredientNames()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>