
.navbar {
    padding: 0.5%;
    background-color: var(--bg-foreground-color);
    display: flex;
    justify-content: space-between;
}

.navOptions {
    text-align: left;
    width: 70%;
}

.navSettings {
    text-align: right;
    width: 30%;
}

.navButton {
    padding: 1%;
    font-size: 14pt;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.navButton:hover {
    color: var(--text-color);
    background-color: hsl(0, 5%, 20%);
}

/*
div {
    color: hsl(0, 5%, 5%);
    color: hsl(0, 5%, 10%);
    color: hsl(0, 5%, 20%);
    color: hsl(0, 5%, 90%);
    color: hsl(0, 5%, 75%);
    color: hsl(45, 100%, 40%);
    color: hsl(45, 100%, 50%);
}
*/