<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Index</title>
</head>
<body>
<div th:fragment="header">
    <a href="#" th:href="@{/}">Home</a>
    <a href="#" th:href="@{/scrapeRecipe}">Scrape Recipe</a>
    <a href="#" th:href="@{/uploadRecipe}">Upload Recipe</a>
    <a href="#" th:href="@{/listRecipe}">All Recipes</a>
    <a href="#" th:href="@{/searchRecipe}">Search Recipe</a>
    <a href="#" th:href="@{/login}">Login</a>
    <a href="#" th:href="@{/register}">Register</a>
    <a href="#" th:href="@{/logout}">Logout</a>
</div>
</body>
</html>